<%- include('./partials/top') -%>
<%- include('./partials/nav') -%>
    <!-- <h1>Services</h1>
    <% data.map(function(item) {%>
        <h2><%= item.name %></h2><p><%= item.Age %></p>
        <%})%> -->

        <!-- Array.map() -->
        <!-- <table>
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
            <%  data.map(function(item) {%> 
            <tr>
                <td><%= item.name%></td>
                <td><%= item.Age%></td>
            </tr>
            <%})%>
        </table> -->

        <!-- FOR loop -->
        <table>
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
            <%  for(var i=0;i<data.length;i++) {%> 
            <tr>
                <td><%= data[i].name%></td>
                <td><%= data[i].Age%></td>
            </tr>
            <%}%>
        </table>
</body>
</html>